AWS_REGION=<your-aws-region>
AWS_ACCESS_KEY_ID=<your-access-key-id>
AWS_SECRET_ACCESS_KEY=<your-secret-access-key>
SQS_QUEUE_URL=https://sqs.<your-aws-region>.amazonaws.com/<account-id>/mini-broker-queue
DYNAMO_TABLE=broker-state
PORT=3000